@import url("https://fonts.googleapis.com/css?family=Crimson+Text");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align:center;
}

/* Pod One */
.splash-image{
  background: url('./images/museum-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  color: white;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-bottom:3em;
}
.splash-row{
position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
.row-top{
  padding-top:5em;
}
.splash-image h1{
  font-size:8rem;
  font-weight:800;
  margin:0;
}
.splash-image h2{
  font-size: 6rem;
  margin:0;
}
.splash-image h3{
  font-size:5rem;
  margin:0;
}


/* Pod Two */
.pod-two-splash-image{
  background: url('./images/White-Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  color: white;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
}
.text-area{
  margin:2em;
}
.pod-two-splash-image h1{
  color:black;
  font-size:6rem;
  margin:0
}
.pod-two-splash-image h4{
  color:black;
  font-size:3rem;
  margin:0;
}
.pod-two-splash-image-top{
  position:absolute;
  top:-4rem;
  left:0;
  right:0;
  margin:auto;
}

/* Pod Three */
.pod-three-splash-image{
  background: url('./images/museum-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height:80vh;
  font-size: 1rem;
  color: white;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
}
.pod-three-splash-image img{
  position:absolute;
  bottom:0rem;
  left:0;
  right:0;
  margin:auto;
}

/* Pod Four */
.pod-four-splash-image{
  background: url('./images/White-Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
  color: black;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
}
.text-area-three{
  margin:3em;
}

/* Pod Five */
.pod-five-splash-image{
  background: url('./images/Black-Background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
  color: black;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
}

.speaker-row{
  display:flex;
  flex-wrap:wrap;
  text-align: justify;
  padding-bottom:2em;
}

/* Pod Five */
.pod-five-splash-image-bio{
  margin:auto;
}
.pod-five-splash-image-point{
  position:absolute;
  top:0rem;
  left:0;
  right:0;
  margin:auto;
}
.pod-five-splash-image-bottom{
  position:absolute;
  bottom:-4rem;
  left:0;
  right:0;
  margin:auto;
}

/* Pod Six */
.pod-six-splash-image{
  background: url('./images/March4LifePic.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height:80vh;
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 2px #fff;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:1em;
}
.pod-six-splash-image-top{
  position:absolute;
  top:-4rem;
  left:0;
  right:0;
  margin:auto;
}


/* Pod Seven */
.pod-seven-splash-image{
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
  color: black;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
}

.RSVP{
  background-color: white;
  color: white;
  display:flex;
  flex-wrap:wrap;
  padding-top:4em;
  padding-bottom:4em;
  justify-content:center;
}
.RSVP-One{
  width:35%;
}
.RSVP-One form{
  background-color:black;
  border-radius: 25px;
}
.RSVP-Two{
  width:35%;
  
}
.RSVP-Padding{
  width:5%;
}
.RSVP-Two form{
background-color:black;
  border-radius: 25px;
}
.RSVP-Submit{
  text-align:center;
  margin:auto;
  width:50%
}

/* Pod Eight */
.pod-eight-splash-image{
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
  color: white;
  font-family: 'Crimson Text';
  justify-content: center;
  align-items: center;
  position:relative;
  padding-top:3em;
}
.map-image{
  width:80%;
}

@media only screen and (max-width: 700px) {
.splash-image{
  padding-bottom:4em;
}
.splash-image h1{
  font-size:4rem;
  font-weight:800;
  margin:0;
}
.splash-image h2{
  font-size: 3rem;
  margin:0;
}
.splash-image h3{
  font-size:2rem;
  margin:0;
}
.pod-two-splash-image h1{
  color:black;
  font-size:3rem;
  margin:0
}
.pod-two-splash-image h4{
  color:black;
  font-size:1rem;
  margin:0;
}
.speaker-row{
  padding-bottom:0;
}
.pod-five-splash-image-bio{
  padding-bottom:2em;
}
.text-area-three{
  margin:1.5em;
}
.pod-seven-splash-image h1{
  font-size:1.5em;
}
.RSVP{
  flex-direction:column;
}
.RSVP-One {
    width: 90%;
    margin: auto;
}
.RSVP-Two {
    width: 90%;
    margin: auto;
    margin-top:1em;
}
}